.intro {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 50px;
  h1 {
    color: $primary;
    font-size: 2.4rem;
    line-height: 1.2;
    font-family: $font-family-heading;
    width: 70%;
  }
  p {
    width: 80%;
    font-size: 1.1rem;
    font-weight: lighter;
    line-height: 1.4;
    color: $secondary;
  }
}
.intro-small {
  padding-top: 100px;
  padding-bottom: 30px;
}
